<div class="message">
  <div class="message__header bg-secondary p-10">
    <h2>Welcome</h2>
  </div>
  <p class="p-10">Os ícones do sistema do Material Design são simples, modernos, amigáveis e, às vezes, excêntricos. Cada ícone é criado usando nossas diretrizes de design para representar de maneira simples e mínima os conceitos universais usados em uma IU. Esses ícones foram otimizados para oferecer uma bela exibição em todas as plataformas e resoluções de exibição, o que garante legibilidade e clareza em tamanhos grandes e pequenos.
  </p>
</div>
