<div class="generate">
  <div class="d-flex generate__form justify-content-center">
    <mat-form-field class="generate__input" appearance="outline">
      <mat-label>Your temporary email address</mat-label>
      <input matInput disabled [(ngModel)]="randomEmail.address">
    </mat-form-field>
    <button class="generate__button" mat-raised-button color="primary" (click)="getRandomUmail()">Generate email</button>
    <button class="generate__button" mat-stroked-button color="primary" [cdkCopyToClipboard]="randomEmail.address">
      <mat-icon md-12>content_copy</mat-icon>
      Copy
    </button>
  </div>
  <div class="d-flex justify-content-center mt-15">
    <div class="d-flex mr-15">
      Autorefresh in
      <div class="circle-seconds d-flex justify-content-center align-items-center">
        {{counterTime}}
      </div>
    </div>
      <button class="generate__button d-flex" mat-stroked-button color="primary" (click)="handleRefresh()">
        <mat-icon md-12>autorenew</mat-icon>
        Refresh
      </button>
    </div>
</div>
